@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');


//this styling will take over the entire page
* {
    box-sizing: border-box;
}

body{
    background-image: url("diplohalloween.jpg");
    background-size: cover;
    background position : center;
    display: flex;
    flex-direction: column;
    min-height : 100vh;
    font-family : "Poppins", sans-serif; 
    margin :0;
    align-items: center;
}

.countdown-container {
    display: flex;
    
}

h1 {
    font-weight: bold;
    font-size: 4rem;
    color: white;
}

.big-text{
    font-weight: bolder;
    font-size: 10rem;
    color: white;
    margin: 0 2rem;
    line-height: 1;
}

.cd{
    text-align: center;

}

.span {
    color: white;
    font-weight: bolder;
    font-size: 2rem;
}
